body{
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
    margin: auto;
}

Header, Nav, Section, Aside, Footer{
    background-color: #ebebeb;

}

article{
    color: #ebebeb;
    background-color: #777;

}

p{
    
    color: #777;
    background-color: #ebebeb;
    display: block;
    width: 400px;
    padding: 5px 10px;
    margin: 10px auto;
    
}

h{
    
    color: #777;
    background-color: #ebebeb;
    display: block;
    width: 400px;
    padding: 5px 10px;
    margin: 10px auto;
    font-weight: bold;
    
}

.main{
    margin-top: 20px;
    margin-bottom: 20px;
    overflow:auto;
}

header{
    margin-top: 30px;
    margin-bottom: 10px;
    padding-top: 40px;
    padding-bottom: 40px;

}

nav{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
}


aside{
    float:right;
    padding:50px 50px;
    margin-top:5px;
    
    display: block;
    width: 300px;
    height: 160px;

}

section{
    padding-top: 20px;
    padding-bottom: 60px;
    margin-top:5px;
    float: left;
    width: 540px;/*how come i got aside width less but its showing the same*/
    height: 180px;
    
    
}
article{
   
    margin: 20px 10px 10px 20px;
    padding:30px 40px;
    width: 420px;
    height: 120px;
    

}




footer{
    clear: both;
    margin-bottom: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
}





